<template>
  <div>
    <!-- PWA? -->
    <section class="hero is-medium is-light is-bold">
      <div class="hero-body">
        <div class="has-text-left">
          <h1 class="title is-2">Was ist eigentlich dieses PWA von dem alle reden? 🤔</h1>
        </div>
      </div>
    </section>

    <!-- Erklärung 1 -->
    <section class="hero is-dark is-medium is-bold">
      <div class="hero-body">
        <div class="has-text-right">
          <p class="title is-2">PWA sind Websites</p>
          <p class="subtitle is-3">Man kann sie aber wie Apps herunter laden</p>
        </div>
      </div>
    </section>

    <!-- HÄ? -->
    <section class="hero is-light is-medium is-bold">
      <div class="hero-body">
        <div class="has-text-left">
          <p class="title is-2">HÄ? 😅</p>
        </div>
      </div>
    </section>

    <!-- Erklärung 2 -->
    <section class="hero is-dark is-medium is-bold">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-6 is-offset-6 has-text-right">
            <p class="title is-2">Designed fürs Smartphone</p>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6 is-offset-6 has-text-right">
            <p
              class="subtitle is-3"
            >Sie laufen in deinem Browser, sehen dabei aber wie eine normale App aus und können auch offline benutzt werden.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Einleitung Vorteile -->
    <section class="hero is-medium is-light">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-6 has-text-left">
            <p class="title is-2">Also hat eine PWA nur Vorteile oder?</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Vorteile: Tile -->
    <section class="hero is-medium is-dark">
      <div class="hero-body">
        <div class="tile is-ancestor">
          <div class="tile is-vertical">
            <!-- Tile 1 ober alle-->
            <div class="tile">
              <div class="tile is-parent is-vertical is-5">
                <!-- Tile links oben -->
                <article class="tile is-child notification is-dark">
                  <p class="title">Man kann sie offline benutzen</p>
                  <p class="subtitle">
                    WebApps unterscheiden sich äußerlich nicht von nativen App. Sie haben genauso wie ihre nativen Geschwister ein AppIcon auf dem Homescreen,
                    einen Splashscreen und laden und laden ihre UI aus dem Gerätespeicher. Sie sind also ebenso offline nutzbar.
                  </p>
                </article>

                <!-- Tile links unten -->
                <article class="tile is-child notification is-dark">
                  <p class="title">Sie sind Verlinkungen</p>
                  <p class="subtitle">
                    Eine WebApp ist im Prinzip eine Verlinkung zu einer bestehenden Website. Nur das sie auf dem Gerät gecached ist und die Website damit auch offline für den User sichtbar ist.
                    Die Website und die WebApp bestehen aus dem exakt selben Code. Was für Sie als Kunde natürlich gut ist -> geringere Entwicklungszeit = geringere Kosten für Sie 😉.
                  </p>
                </article>
              </div>

              <div class="tile is-parent">
                <!-- Tile rechts oben -->
                <article class="tile is-child notification is-dark">
                  <p class="title">Browser Push Notifications</p>
                  <p class="subtitle">
                    Wollen Sie die User ihrer Seite immer auf dem Laufenden halten, geht dies auch über sog. Browser Push Notifications. Jeder User der die WebApp installiert hat bekommt dann
                    eine Notification angezeigt wann immer es auf ihrer Seite Neuigkeiten gibt.
                  </p>
                </article>

                <!-- Tile rechts unten -->
                <article class="tile is-child notification is-dark">
                  <div class="content">
                    <p class="title">Sie laufen auf allen Geräten</p>
                    <p class="subtitle">
                      Das besonders attraktive an PWAs ist, dass sie auf jedem internetfähigem Gerät mit einem Browser installiert werden können. (Das wären heute über 20 Milliarden 😱). Die Ihnalte passen sich automatisch dem Bildschirm an.
                      Man geht auf die Website und fügt sie dem Homebildschirm hinzu. Es ist nicht nötig für eine spezielle Plattform zu entwickeln, man baut eine Website und fertig.
                    </p>
                  </div>
                </article>
              </div>
            </div>

            <!-- Tile 2 ganz unten -->
            <div class="tile">
              <div class="tile is-parent">
                <article class="tile is-child notification is-dark">
                  <div class="content">
                    <p class="title">Kein Appstore</p>
                    <p class="subtitle">
                      Dadurch, dass WebApps direkt von einer Website 'heruntergeladen' werden, ist es nicht nötig sie auf den Appstore zu stellen und Gebühren für diesen zu bezahlen.
                      Für jeden Dienst den sie in ihrer WebApp anbieten möchten gelten die gleichen Regeln wie für eine normale Internetseite.
                    </p>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Hero -->
    <section class="hero is-medium is-light">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-6 has-text-left">
            <p class="title is-2">Das hört sich echt gut an! Wie sieht es in Zukunft aus?</p>
          </div>
        </div>
      </div>
    </section>

    <!-- In Zukunft -->
    <section class="hero is-dark is-medium is-bold">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-5 is-offset-2">
            <p class="title">IOT</p>
            <p class="subtitle">
              Ein sehr interessanter Verwendungszweck für PWAs ist deren Verwendung mit IOT-Geräten. Die meisten Geräte die mit einer App gesteuert werden können, werden über native Apps gesteuert.
              Da WebApps auf jedem internetfähigen Gerät mit einem Browser installiert werden können, könnte man beispielsweise seine Heizung oder seine Drohne über ein und die selbe App, auf all seinen Geräten steuern.
              Dabei ist es für den Hersteller ebenfalls um ein vielfaches einfacher seine Dienste auf allen Geräten zur Verfügung zu stellen.
            </p>
          </div>
          <div class="column is-5">
            <p class="title">Annäherung an Native Apps</p>
            <p class="subtitle">
              In Zukunft ist es geplant den WebApps weiteren Zugang zu den Funktionen der Smartphones und Tablets zu ermöglichen um sie so noch nativer zu machen. Google ist dabei in der Entwicklung führend und bringt fast jeden Monat PWA-Updates heraus.
              Beispielsweise wird es möglich sein die Gesichts- und Fingerabdrucksauthentifizierung auch in WebApps zu verwenden um so sichere Bezahlvorgänge zu gewährleisten.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<!-- StyleSheet -->
<style>
html {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
</style>